body {background-color: white;}
footer {background-color:#bf7632;}
/* {background-color: #666666;} */
nav {padding: 20px 20px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: CENTER;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
  }
  
  .active {
    background-color: #bf7632;
  }